@model Employee
@using System.Globalization

<h1 class="alert alert-danger" style="color:darkred;text-align:center">
	Are you sure you want to delete this employee
</h1>


<dl class="row">
	<dt class="col-2">Id</dt>
	<dd class="col-10">@Model.Id</dd>
	<dt class="col-2">Full Name</dt>
	<dd class="col-10">@Model.FullName</dd>
	<dt class="col-2">National Id</dt>
	<dd class="col-10">@Model.NationalId</dd>
	<dt class="col-2">Position</dt>
	<dd class="col-10">@Model.Position</dd>
	<dt class="col-2">Salary</dt>
	<dd class="col-10">@Model.Salary</dd>
	<dt class="col-2">Hiring Date Time</dt>
	<dd class="col-10">@Model.HiringDateTime</dd>
	<dt class="col-2">AttendenceTime</dt>
	<dd class="col-10">@Model.AttendenceTime</dd>
	<dt class="col-2">Phone Number</dt>
	<dd class="col-10">@Model.PhoneNumber</dd>
	<dt class="col-2">Email Address</dt>
	<dd class="col-10">@Model.EmailAddress</dd>
	<dt class="col-2">Appraisal</dt>
	<dd class="col-10">@Model.Appraisal</dd>
	<dt class="col-2">IsActive</dt>
	<dd class="col-10">@Model.IsActive</dd>
</dl>
<form method="post" asp-controller="Employees" asp-action="DeleteCurrent">
	<input type="hidden" asp-for="Id" />
	<button type="submit" class="btn btn-danger">Delete</button>
</form>

<a asp-controller="Employees" asp-action="GetIndexView">Back</a>
